html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.container {
  width: 50%;
}

.top {
  min-height: 150px;
  padding-top: 50px;
}

img {
    width: auto;
    height: 260px;

}

.recipe {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(72, 69, 69, 0.85);
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 390px;
}

.recipe-text {
  padding: 10px;

}

.recipes {
  width: 100%;
  margin-top: 20px;
}

.h2, h2 {
    font-size: 1.2em;
    color: white;
}
